In [35]:
import pandas as pd
import numpy as np
from sqlalchemy import MetaData, create_engine, Table, Column, ForeignKey
from sqlalchemy import Integer, String, Date, Float, Time
from sqlalchemy import exc

In [12]:
#Constantes
DB = "tp312"
HOST = "localhost"
PORT = "5432"
PASS = "password"
USER = "postgres"

![Diagrama]("Inmobiliaria.png"

In [13]:
url_conect = USER + ':' + PASS + '@' + HOST+ ':' + PORT + '/'+ DB
engine = create_engine('postgresql://' + url_conect)

In [27]:
metadata = MetaData()


estate = Table('estate', metadata,
              Column('id', Integer, primary_key=True),
              Column('category', String),
              Column('area', Float, nullable=False),
              Column('city', String, nullable=False),
              Column('province', String, nullable=False),
              Column('rooms', Integer, nullable=False),
              Column('bedrooms', Integer, nullable=False),
              Column('garage', Integer),
              Column('meters', Float, nullable=False))

customer = Table('customer', metadata,
                Column('id', Integer, primary_key=True),
                Column('name', String, nullable=False),
                Column('surname', String, nullable=False),
                Column('budget', Float),
                Column('address', String),
                Column('city', String),
                Column('phone', String))

visit = Table('visit', metadata, 
             Column('id', Integer, primary_key=True),
             Column('duration', Integer, nullable=False))

sale = Table('sale', metadata, 
            Column('id', Integer, primary_key=True),
            Column('agreed_price', Float, nullable=False),
            Column('status', String, nullable=False))

fact = Table('fact', metadata,
            Column('id', Integer, primary_key=True),
            Column('id_estate', Integer, ForeignKey('estate.id')),
            Column('id_cust', Integer, ForeignKey('customer.id')),
            Column('date', Date, nullable=False),
            Column('id_visit', Integer, ForeignKey('visit.id'), nullable=True),
            Column('id_sale', Integer, ForeignKey('sale.id'), nullable=True))

In [28]:
metadata.create_all(engine)

Carga de Datos
--------------

In [36]:
try:
    df_estate = pd.read_csv('dataTp3/Inmobilaria/Estate.csv')
    df_estate.to_sql('estate', engine, index=None, if_exists="append")
    
except exc.IntegrityError:
    print("Los datos de Estate ya han sido cargados en la BD")

Los datos ya han sido cargados en la BD

In [69]:
try:
    df_customer = pd.read_csv('dataTp3/Inmobilaria/Customer.csv')
    df_customer.to_sql('customer', engine, index=None, if_exists="append")
except exc.IntegrityError:
    print("Los datos de Customer ya han sido cargados en la BD")

Los datos de Customer ya han sido cargados en la BD

In [68]:
try:
    df_visit = pd.read_csv('dataTp3/Inmobilaria/Visit.csv')
    df_visit.to_sql('visit', engine, index=None, if_exists="append")
except exc.IntegrityError:
    print("Los datos de Visit ya han sido cargados en la BD")

Los datos de Visit ya han sido cargados en la BD

In [67]:
try:
    df_sale = pd.read_csv('dataTp3/Inmobilaria/Sale.csv')
    df_sale.to_sql('sale', engine, index=None, if_exists="append")
except exc.IntegrityError:
    print("Los datos de Sale ya han sido cargados en la BD")

Los datos de Sale ya han sido cargados en la BD

In [40]:
try:
    df_fact = pd.read_csv('dataTp3/Inmobilaria/Fact.csv')
except exc.IntegrityError:
    print("Los datos de Fact ya han sido cargados en la BD")

       id  id_estate  id_cust        date  id_visit  id_sale
0       1          1        1  2006-12-17       NaN      NaN
1       2          2        2  2008-05-09       NaN      NaN
2       3          3        3  2001-03-14       NaN      NaN
3       4          4        4  2009-11-08       NaN      NaN
4       5          5        5  2015-06-09       NaN      NaN
5       6          6        6  2010-01-07       NaN      NaN
6       7          7        7  2015-05-22       NaN      NaN
7       8          8        8  2013-08-19       NaN      NaN
8       9          9        9  2005-06-14       NaN      NaN
9      10         10       10  2016-06-09       NaN      NaN
10     11         11       11  2016-07-29       NaN      NaN
11     12         12       12  2002-06-04       NaN      NaN
12     13         13       13  2010-10-13       NaN      NaN
13     14         14       14  2002-03-01       NaN      NaN
14     15         15       15  2009-07-24       NaN      NaN
15     16         16       16  2002-01-12       NaN      NaN
16     17         17       17  2014-12-28       NaN      NaN
17     18         18       18  2016-05-07       NaN      NaN
18     19         19       19  2001-05-19       NaN      NaN
19     20         20       20  2009-01-07       NaN      NaN
20     21         21       21  2002-03-08       NaN      NaN
21     22         22       22  2016-08-05       NaN      NaN
22     23         23       23  2011-08-19       NaN      NaN
23     24         24       24  2004-09-22       NaN      NaN
24     25         25       25  2008-08-06       NaN      NaN
25     26         26       26  2008-06-04       NaN      NaN
26     27         27       27  2001-03-14       NaN      NaN
27     28         28       28  2014-07-16       NaN      NaN
28     29         29       29  2006-08-30       NaN      NaN
29     30         30       30  2006-01-29       NaN      NaN
..    ...        ...      ...         ...       ...      ...
970   971        971      971  2000-09-10       NaN      NaN
971   972        972      972  2008-04-25       NaN      NaN
972   973        973      973  2008-05-04       NaN      NaN
973   974        974      974  2008-05-16       NaN      NaN
974   975        975      975  2010-08-07       NaN      NaN
975   976        976      976  2006-08-15       NaN      NaN
976   977        977      977  2013-05-15       NaN      NaN
977   978        978      978  2016-04-21       NaN      NaN
978   979        979      979  2015-03-09       NaN      NaN
979   980        980      980  2015-02-17       NaN      NaN
980   981        981      981  2002-02-05       NaN      NaN
981   982        982      982  2006-01-05       NaN      NaN
982   983        983      983  2015-05-05       NaN      NaN
983   984        984      984  2004-09-26       NaN      NaN
984   985        985      985  2004-06-28       NaN      NaN
985   986        986      986  2005-03-30       NaN      NaN
986   987        987      987  2006-09-21       NaN      NaN
987   988        988      988  2001-04-12       NaN      NaN
988   989        989      989  2015-08-09       NaN      NaN
989   990        990      990  2008-07-01       NaN      NaN
990   991        991      991  2012-10-04       NaN      NaN
991   992        992      992  2009-02-10       NaN      NaN
992   993        993      993  2004-07-25       NaN      NaN
993   994        994      994  2011-07-23       NaN      NaN
994   995        995      995  2013-10-24       NaN      NaN
995   996        996      996  2000-10-07       NaN      NaN
996   997        997      997  2013-07-03       NaN      NaN
997   998        998      998  2002-03-11       NaN      NaN
998   999        999      999  2015-04-14       NaN      NaN
999  1000       1000     1000  2004-06-17       NaN      NaN

[1000 rows x 6 columns]

     id_visit
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
..        ...
470       NaN
471       NaN
472       NaN
473       NaN
474       NaN
475       NaN
476       NaN
477       NaN
478       NaN
479       NaN
480       NaN
481       NaN
482       NaN
483       NaN
484       NaN
485       NaN
486       NaN
487       NaN
488       NaN
489       NaN
490       NaN
491       NaN
492       NaN
493       NaN
494       NaN
495       NaN
496       NaN
497       NaN
498       NaN
499       NaN

[500 rows x 1 columns]