In [16]:
import pandas as pd
import numpy as np
from sqlalchemy import MetaData, create_engine
from sqlalchemy import Integer, String, Date, Float, Time

In [19]:
#Constantes
DB = "tp312"
HOST = "localhost"
PORT = "5432"
PASS = "password"
USER = "postgres"

In [20]:
url_conect = USER + ':' + PASS + '@' + HOST+ ':' + PORT + '/'+ DB
engine = create_engine('postgresql://' + url_conect)

In [21]:
metadata = MetaData()

owner = Table('owner', metadata, 
              Column("id", Integer, primary_key=True),
              Column("name", String, nullable=False),
              Column('surname', String, nullable=False),
              Column('address', String, nullable=False),
              Column('phone', String, nullable=False))

estate = Table('estate', metadata,
              Column('id', Integer, primary_key=True),
              Column('id_owner', Integer, ForeignKey('owner.id')),
              Column('category', String),
              Column('area', Float, nullable=False),
              Column('city', String, nullable=False),
              Column('province', String, nullable=False),
              Column('rooms', Integer, nullable=False),
              Column('bedrooms', Integer, nullable=False),
              Column('garage', Integer),
              Column('meters', Float, nullable=False))

customer = Table('customer', metadata,
                Column('id', Integer, primary_key=True),
                Column('name', String),
                Column('surname', String),
                Column('budget', Float),
                Column('address', String),
                Column('city', String),
                Column('phone', String))

agent = Table('agent', metadata, 
             Column('id', Integer, primary_key=True),
             Column('name', String),
             Column('surname', String),
             Column('office', String),
             Column('address', String),
             Column('city', String),
             Column('phone', String))

agenda = Table('agenda', metadata, 
              Column('id', Integer, primary_key=True),
              Column('data', String),
              Column('hour', Time),
              Column('id_estate', Integer, ForeignKey('estate.id')),
              Column('cliente_name', String))

visit = Table('visit', metadata, 
             Column('id_estate', Integer, ForeignKey('estate.id')),
             Column('id_agent', Integer, ForeignKey('agent.id')),
             Column('id_cust', Integer, ForeignKey('customer.id')),
             Column('date', Date),
             Column('duration', Integer))

sale = Table('sale', metadata, 
            Column('id_estate', Integer, ForeignKey('estate.id')),
            Column('id_agent', Integer, ForeignKey('agent.id')),
            Column('id_cust', Integer, ForeignKey('customer.id')),
            Column('date', Date),
            Column('agreed_price', Float),
            Column('status', String))

rent = Table('rent', metadata, 
            Column('id_estate', Integer, ForeignKey('estate.id')),
            Column('id_agent', Integer, ForeignKey('agent.id')),
            Column('id_cust', Integer, ForeignKey('customer.id')),
            Column('date', Date),
            Column('price', Float),
            Column('status', String),
            Column('time', Integer))

In [22]:
metadata.create_all(engine)