In [35]:
import pandas as pd
import numpy as np
from sqlalchemy import MetaData, create_engine, Table, Column, ForeignKey
from sqlalchemy import Integer, String, Date, Float, Time
from sqlalchemy import exc

In [12]:
#Constantes
DB = "tp312"
HOST = "localhost"
PORT = "5432"
PASS = "password"
USER = "postgres"

# Diagrama de DW  - Inmobiliaria

![Diagrama](img/Inmobiliaria.png "Diagrama")

In [13]:
url_conect = USER + ':' + PASS + '@' + HOST+ ':' + PORT + '/'+ DB
engine = create_engine('postgresql://' + url_conect)

In [27]:
metadata = MetaData()


estate = Table('estate', metadata,
              Column('id', Integer, primary_key=True),
              Column('category', String),
              Column('area', Float, nullable=False),
              Column('city', String, nullable=False),
              Column('province', String, nullable=False),
              Column('rooms', Integer, nullable=False),
              Column('bedrooms', Integer, nullable=False),
              Column('garage', Integer),
              Column('meters', Float, nullable=False))

customer = Table('customer', metadata,
                Column('id', Integer, primary_key=True),
                Column('name', String, nullable=False),
                Column('surname', String, nullable=False),
                Column('budget', Float),
                Column('address', String),
                Column('city', String),
                Column('phone', String))

visit = Table('visit', metadata, 
             Column('id', Integer, primary_key=True),
             Column('duration', Integer, nullable=False))

sale = Table('sale', metadata, 
            Column('id', Integer, primary_key=True),
            Column('agreed_price', Float, nullable=False),
            Column('status', String, nullable=False))

fact = Table('fact', metadata,
            Column('id', Integer, primary_key=True),
            Column('id_estate', Integer, ForeignKey('estate.id')),
            Column('id_cust', Integer, ForeignKey('customer.id')),
            Column('date', Date, nullable=False),
            Column('id_visit', Integer, ForeignKey('visit.id'), nullable=True),
            Column('id_sale', Integer, ForeignKey('sale.id'), nullable=True))

In [28]:
metadata.create_all(engine)

Carga de Datos
--------------

In [36]:
try:
    df_estate = pd.read_csv('dataTp3/Inmobilaria/Estate.csv')
    df_estate.to_sql('estate', engine, index=None, if_exists="append")
    
except exc.IntegrityError:
    print("Los datos de Estate ya han sido cargados en la BD")

Los datos ya han sido cargados en la BD

In [69]:
try:
    df_customer = pd.read_csv('dataTp3/Inmobilaria/Customer.csv')
    df_customer.to_sql('customer', engine, index=None, if_exists="append")
except exc.IntegrityError:
    print("Los datos de Customer ya han sido cargados en la BD")

Los datos de Customer ya han sido cargados en la BD

In [68]:
try:
    df_visit = pd.read_csv('dataTp3/Inmobilaria/Visit.csv')
    df_visit.to_sql('visit', engine, index=None, if_exists="append")
except exc.IntegrityError:
    print("Los datos de Visit ya han sido cargados en la BD")

Los datos de Visit ya han sido cargados en la BD

In [67]:
try:
    df_sale = pd.read_csv('dataTp3/Inmobilaria/Sale.csv')
    df_sale.to_sql('sale', engine, index=None, if_exists="append")
except exc.IntegrityError:
    print("Los datos de Sale ya han sido cargados en la BD")

Los datos de Sale ya han sido cargados en la BD

In [92]:
try:
    df_fact = pd.read_csv('dataTp3/Inmobilaria/Fact.csv')
    df_fact.to_sql('fact', engine, index=None, if_exists="append")
except exc.IntegrityError:
    print("Los datos de Fact ya han sido cargados en la BD")

Los datos de Fact ya han sido cargados en la BD

# Consultas

## Consulta 1: 
¿Qué tipo de propiedad se vendió por el precio más alto con respecto a cada
ciudad y meses?

In [ ]:
no funciono

## Consulta 2:

In [ ]:
select * from (
	select mes, "name", surname, agreed_price, rank()
	over (partition by mes order by agreed_price DESC)
	from (
		select date_part('month',"date") as mes, "name", "surname", category, agreed_price
		from fact inner join estate on (id_estate = estate.id) 
                  inner join sale on (id_sale = sale.id) 
                  inner join customer on (id_cust = customer.id)
		where id_sale is not NULL and category = 'piso'
	order by agreed_price DESC) as pepe
) sub_query 
where rank = 1

## Consulta 3:

In [ ]:
select distinct category, cat
from (
	select category, avg(duration)
	over(partition by category ) as cat
	from fact inner join estate on (id_estate = estate.id) 
		  inner join visit on (id_visit = visit.id)
) as promedio