In [1]:
#Imports generales
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import MetaData, types 
from sqlalchemy import Table, Column, ForeignKey
from psycopg2 import connect
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

#Constantes
DB = "tp3"
HOST = "localhost"
PASS = "password"
USER = "postgres"

#### Crear el "engine" pasando la dirección de la db

In [ ]:
#Crear la BD para el tp3. 
con = None
con = connect(user=USER,host=HOST,password=PASS)

con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = con.cursor()
cur.execute('CREATE DATABASE '+ DB)
cur.close()
con.close()

In [2]:
engine = create_engine('postgresql://postgres:password@localhost:5432/'+DB)
engine

Engine(postgresql://postgres:***@localhost:5432/tp3)

In [ ]:
metadata = MetaData()

In [ ]:
#TIME (TimeStamp, Date, Year,)
time = Table('time', metadata,
    Column('Id', types.Integer, primary_key=True),                     
    Column('TimeStamp', types.TIMESTAMP),         
    Column('Year', types.Integer, primary_key=False),
    Column('Date', types.Date, nullable=False),
 )

#CLASS (Code, Name, Region)
tipo_vino = Table('class', metadata,
    Column('Code', types.Integer, primary_key=True),         
    Column('Name', types.String(length=50)),
    Column('Region', types.String(length=50)),
 )

#CUSTOMER (Code, Name, Address, Phone, BDay, Gender)
customer = Table('customer', metadata,
    Column('Code', types.Integer, primary_key=True),         
    Column('Name', types.String(length=50)),
    Column('Address', types.String(length=50)),
    Column('Phone', types.String(length=50)),
    Column('BDay', types.String(length=50)),
    # Hombre = True, Mujer = False
    Column('Gender', types.Boolean),

 )


#WINE (Code, Name, Type, Vintage, BottlePrice, CasePrice, Class)

wine = Table('wine', metadata,
    Column('Code', types.Integer, primary_key=True),         
    Column('Name', types.String(length=50)),
    Column('Type', types.String(length=50)),
    Column('Vintage', types.Integer),
    Column('BottlePrice', types.Float),
    Column('CasePrice', types.Float),
    Column('Class',types.Integer, ForeignKey("class.Code")),                  
 )

#ORDER (Code,Customer, Wine, Time, nrBottles, nrCases)
orden = Table('order', metadata,
    Column('Code',types.Integer, primary_key=True),         
    Column('Id_customer',types.Integer, ForeignKey("customer.Code")),         
    Column('Id_wine',  types.Integer, ForeignKey("wine.Code") ),
    Column('Id_time',  types.Integer,ForeignKey("time.Id")),
    Column('nrBottles', types.Integer),
    Column('nrCases', types.Integer),          
 )

#VENTAS (ID_WINE,ID_ORDER,PRECIO_ORDEN)
ventas = Table('ventas', metadata,
    Column('Id_venta', types.Integer, primary_key=True),         
    Column('Id_order', types.Integer,ForeignKey("order.Code")),
    Column('Id_wine', types.Integer, ForeignKey("wine.Code")),
    Column('Precio_orden', types.Float)
 )

In [ ]:
metadata.create_all(engine)

In [ ]:
#Cargar datos de prueba
import numpy as np
import dateutil.parser as dateparser

#Extraer el año del date para que coincida con campo Year
df_time = pd.read_csv("dataTp3/Time.csv")
df_time["Year"] = df_time["TimeStamp"].apply(lambda x: dateparser.parse(x).year)
df_time["Date"] = df_time["TimeStamp"].apply(lambda x: dateparser.parse(x).date())
#Cargar dataframes en postgresql
time = df_time.to_sql('time', engine, index=None,if_exists='append')
#df_time

In [ ]:
df_customer= pd.read_csv("dataTp3/Customer.csv")
customer = df_customer.to_sql('customer', engine, index=None,if_exists='append')
df_class= pd.read_csv("dataTp3/Class.csv")
classes = df_class.to_sql('class', engine, index=None,if_exists='append')
df_wine= pd.read_csv("dataTp3/Wine.csv")
wine = df_wine.to_sql('wine', engine, index=None,if_exists='append')
df_order= pd.read_csv("dataTp3/Order.csv")
order = df_order.to_sql('order', engine, index=None,if_exists='append')

In [ ]:
df_ventas= pd.read_csv("dataTp3/Ventas.csv")
df_ventas["Precio_orden"] = np.arange(100,1100)

In [ ]:
from sqlalchemy.sql import select,and_
def setear_id_vino(engine):
    """
        Establece el id_wine que se encuentra 
        asociado a una orden.
    :param engine:
    :return: DataFrama nx1
    """
    conn = engine.connect()
    metadata = MetaData()
    metadata.reflect(bind=conn)
    ventas=metadata.tables.get("ventas")
    order=metadata.tables.get("order")
    consulta = select([order.c.Id_wine]).where(ventas.c.Id_order == order.c.Code )
    result = conn.execute(consulta).fetchall()
    #Se transforma en un data frame el resultado de la consulta.
    df = pd.DataFrame(result)
    return df
    
temp = setear_id_vino(engine)
df_ventas["Id_wine"] = temp
ventas = df_ventas.to_sql('ventas', engine, index=None,if_exists='append')

In [ ]:
#Calcular porcentajes de tipos de vinos mas vendidos
#
#FALTA TERMINAR!!!
#
from sqlalchemy.sql import select,and_, or_, not_
from sqlalchemy import func, desc

#select([users, addresses]).where(users.c.id == addresses.c.user_id)
#select.group_by()
def calcular_porcentaje_ventas(engine,anio):
    conn = engine.connect()
    metadata = MetaData()
    metadata.reflect(bind=conn)
    ventas=metadata.tables.get("ventas")
    orden=metadata.tables.get("order")
    wine=metadata.tables.get("wine")
    time=metadata.tables.get("time")
    clase=metadata.tables.get("class")
    
    
    
    consulta = select([clase.c.Code,clase.c.Name,func.count(clase.c.Code).label('Cantidad de ventas segun tipo')]).\
                            where( and_(ventas.c.Id_order == orden.c.Code,
                                                                    orden.c.Id_time == time.c.Id,
                                                                       time.c.Year == anio,
                                        ventas.c.Id_wine == wine.c.Code,
                                        wine.c.Class == clase.c.Code
                                       )).group_by(clase.c.Code,clase.c.Name)
        
    
    
    result = conn.execute(consulta).fetchall()
    #Se transforma en un data frame el resultado de la consulta.
    df = pd.DataFrame(result)
    #print (df)
    total_tipos = sum(df[2])
    df["Porcentaje"] = df[2].apply(lambda x: (x/total_tipos)*100)
    
    print(df)
    #for row in result:
    #    print(row)

calcular_porcentaje_ventas(engine,2005)

In [8]:
#Temporada que los vinos de tipo X se venden mas?
from sqlalchemy import desc

def buscar_vino_en_temporada(nombre_tipo_vino="Anderson"):
    conn = engine.connect()
    metadata = MetaData()
    metadata.reflect(bind=conn)
    ventas=metadata.tables.get("ventas")
    orden=metadata.tables.get("order")
    wine=metadata.tables.get("wine")
    time=metadata.tables.get("time")
    clase=metadata.tables.get("class")
    
    id_tipo_vino = select([clase.c.Code]).where(and_(
                                                ventas.c.Id_wine == wine.c.Code,
                                                wine.c.Class == clase.c.Code,
                                                clase.c.Name == nombre_tipo_vino 
                                                 )).correlate(clase).limit(1) 
    
    #porque en la bd tenemos mas de un mismo tipo de vino como consecuencia del generador de datos
    
    consulta_temporadas = select([clase.c.Code,time.c.Year,func.count(clase.c.Code).label("quantity") ]).where( and_(ventas.c.Id_order == orden.c.Code,
                                                         orden.c.Id_time == time.c.Id,
                                                         orden.c.Id_wine == wine.c.Code, 
                                                         wine.c.Class == id_tipo_vino
                                                      )).group_by(clase.c.Code,time.c.Year).order_by(desc("quantity"))
    
    result = conn.execute(consulta_temporadas).fetchall()
    #Se transforma en un data frame el resultado de la consulta.
    df = pd.DataFrame(result)
    print (df)

buscar_vino_en_temporada()

     0     1  2
0  797  2005  2
1  797  2006  1
2  797  1996  1
3  797  2013  1

In [35]:
#Cliente que ha realizado mas compras
import time
from datetime import date,timedelta

def buscar_compras_de_clientes():
    conn = engine.connect()
    metadata = MetaData()
    metadata.reflect(bind=conn)
    ventas=metadata.tables.get("ventas")
    orden=metadata.tables.get("order")
    customer=metadata.tables.get("customer")
    time=metadata.tables.get("time")
    
    fecha2 = date.today()
    fecha1 = date.today() - timedelta(days=365*4)
    consulta_temporadas = select([customer.c.Code,func.count(customer.c.Code).label('c1')]).where( and_(
                                                        ventas.c.Id_order == orden.c.Code,
                                                        orden.c.Id_time == time.c.Id,
                                                        time.c.Date >= fecha1,
                                                        time.c.Date <= fecha2)).group_by(customer.c.Code)
    result = conn.execute(consulta_temporadas).fetchall()
    #Se transforma en un data frame el resultado de la consulta.
    df = pd.DataFrame(result)
    print (df)
    
    
buscar_compras_de_clientes()

       0    1
0    251  121
1    106  121
2    120  121
3    285  121
4    681  121
5    866  121
6    264  121
7    887  121
8    601  121
9    664  121
10   802  121
11   647  121
12   497  121
13   452  121
14   496  121
15   455  121
16   630  121
17   209  121
18   276  121
19   665  121
20   577  121
21   606  121
22   850  121
23   801  121
24   550  121
25   599  121
26   856  121
27   756  121
28   807  121
29   151  121
..   ...  ...
970  445  121
971  832  121
972  908  121
973  749  121
974   88  121
975  118  121
976  130  121
977  272  121
978  223  121
979  240  121
980  283  121
981  772  121
982  217  121
983  231  121
984  548  121
985  538  121
986  212  121
987  383  121
988  328  121
989  612  121
990  925  121
991  962  121
992  263  121
993  740  121
994  953  121
995  616  121
996  615  121
997  144  121
998    7  121
999  453  121

[1000 rows x 2 columns]

In [ ]:
print "asasaaaaa"

In [23]:
import time
from datetime import date,timedelta

fecha2 = date.today() - timedelta(days=365*4)
print (type(fecha2))

<class 'datetime.date'>

#### Hacer la query especificando el "engine" que se desea usar

In [ ]:
df_customer = pd.read_sql_query('select * from "Customer"',con=engine)

In [ ]:
df_customer.to_json('/tmp/test.json')

In [ ]:
json_df  = pd.read_json('/tmp/test.json')
json_df

In [ ]:
json_df['Birthday'] = pd.to_datetime(json_df['Birthday'], unit='ns')
json_df

In [ ]:
df.info()

In [ ]:
df.describe()

Link a [Pandas NB](Starting%20with%20pandas.ipynb) para ver join, merge, append, etc

#### Agregando un nuevo registro a nuestra tabla "Customer" con pandas

In [ ]:
new_df = pd.DataFrame([[4, pd.datetime(2011, 1, 10), 'F']], columns=df.columns)
new_df

In [ ]:
new_df.to_sql('Customer', engine, if_exists='append', index=None)

#### Agregando una nueva tabla a nuestra db desde pandas

In [ ]:
new_table = pd.DataFrame([], columns=['WineCode', 'Type', 'Vintage'])
new_table

In [ ]:
new_table.to_sql('Wine', engine, index=None)

#### Ahora hagamos lo mismo con sqlalchemy

In [ ]:
from sqlalchemy import MetaData, types
from sqlalchemy import Table, Column

In [ ]:
metadata = MetaData()

In [ ]:
time = Table('Time', metadata,
    Column('TimeCode', types.Integer, primary_key=True),
    Column('Date', types.DateTime, nullable=False),
 )

In [ ]:
metadata.create_all(engine)

### Agregando elementos a Wine con pandas

In [ ]:
data = [[1, 'White', 2000],
        [2, 'red', 2015],
        [3, 'rose', 2014]]

In [ ]:
new_df = pd.DataFrame(data, columns=df_wine.columns)

In [ ]:
new_df.to_sql('Wine', engine, if_exists='append', index=None)

In [ ]:
df_wine = pd.read_sql_query('select * from "Wine"',con=engine)
df_wine

In [ ]:
data = [[1, 'White', pd.datetime(2000, 10, 10)],
        [2, 'red', pd.datetime(2010, 9, 9)],
        [3, 'rose', pd.datetime(2011, 9, 9)]]

In [ ]:
new_df = pd.DataFrame(data, columns=df_wine.columns)
new_df['Vintage']

In [ ]:
new_df.to_json('/tmp/lero.json', date_unit='ns')

In [ ]:
json_demo = pd.read_json('/tmp/lero.json')
jso

In [ ]:
new_df

In [ ]:
json_demo['Vintage'] = pd.to_datetime(json_demo['Vintage'], unit='ns')

In [ ]:
json_demo

In [ ]:
new_df

In [ ]:
json_demo.columns.values

In [ ]:
json_demo.values

In [ ]:
pd.merge(json_demo, new_df, on=list(json_demo.columns.values), how='outer')

In [ ]:
pd.Series?

In [ ]:
score = pd.Series([10, 9, 8], name='score')
score

In [ ]:
out = pd.concat([json_demo, score], axis=1)
new_row = pd.DataFrame([[4, 'espumeante',pd.datetime(2000,2,2)]], columns=new_df.columns)

In [ ]:
append_df = new_df.append(new_row)

In [ ]:
append_df.to_sql('Wine', engine, if_exists='append', index=None)